/*
  Sample CSS file written for the third workshop of the ePortfolio series
  Thursday, Mar. 3rd, 2016
  CS HUB - York University
  Marwan Alani
*/

/* Set of light colored background classes to illustrate the grid system */
.color1 { background-color: lightcyan;}
.color2 { background-color: lightgoldenrodyellow;}
.color3 { background-color: lightgreen;}
.color4 { background-color: lightpink;}
.color5 { background-color: lavender;}
.color6 { background-color: lightsteelblue;}
